<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{activation.title}">Resetiranje lozinke</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{activation.greeting(${user.name})}"></p>
        <p>
           Primili smo zahtjev za resetiranjem vaše lozinke. Ako niste poslali zahtjev, zanemarite ovu poruku. U suprotnom, lozinku možete resetirati klikom na poveznicu ispod:
        </p>
        <p>
            <a th:href="@{|${baseUrl}/app/#/resetiraj-lozinku?key=${user.resetPasswordToken}|}">Resetiraj lozinku</a>
        </p>
        <p>
            <span th:text="#{activation.text2}">Srdačan pozdrav, </span>
            <br/>
            <br/>
            <em th:text="#{email.signature}">Hefest.</em>
        </p>
    </body>
</html>