<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <div class="row">
        <div class="col-sm-6 profileSection">
            <h3 translate>changepassword.action</h3>
            <div class="alert alert-success" ng-show="success" translate scroll-bookmark>
                <strong translate>changepassword.messages.success</strong>
            </div>
            <div class="alert alert-danger" ng-show="error" translate>
                changepassword.messages.error
            </div>
            <div class="alert alert-danger" ng-show="doNotMatch" translate>
            	global.messages.error.dontmatch
            </div>
            <form name="changePasswordForm" role="form" ng-submit="changePassword(changePasswordForm.$valid)" form-autofill-fix novalidate>              
               	<div class="form-group" show-errors>
					<label translate>global.form.oldpassword</label>
		          	<input type="password" name="oldPassword" ng-model="oldPassword" class="form-control" placeholder="{{'global.form.oldpassword.placeholder' | translate}}" ng-maxlength=50 ng-minlength=6 required auto-focus>
		          	<p ng-if="changePasswordForm.oldPassword.$error.required" class="help-block" translate>global.messages.validate.password.required</p>
		          	<p ng-if="changePasswordForm.oldPassword.$error.minlength" class="help-block" translate>global.messages.validate.password.minlength</p>
		          	<p ng-if="changePasswordForm.oldPassword.$error.maxlength" class="help-block" translate>global.messages.validate.password.maxlength</p>		          	     	
				</div>
               	<div class="form-group" show-errors>
					<label translate>global.form.newpassword</label>
		          	<input type="password" name="password" ng-model="newPassword" class="form-control" placeholder="{{'global.form.newpassword.placeholder' | translate}}" ng-maxlength=50 ng-minlength=6 required>
		          	<p ng-if="changePasswordForm.password.$error.required" class="help-block" translate="global.messages.validate.password.required">A password is required</p>
		          	<p ng-if="changePasswordForm.password.$error.minlength" class="help-block" translate="global.messages.validate.password.minlength"> A password is required to be at least 6 characters</p>
		          	<p ng-if="changePasswordForm.password.$error.maxlength" class="help-block" translate="global.messages.validate.password.maxlength"> A password cannot be longer than 50 characters.</p>		          	     	
				</div>
				<div class="form-group">
					<label translate="global.form.confirmpassword">Confirm new password</label>
		          	<input type="password" name="repeatPassword" ng-model="confirmPassword" class="form-control">		          	     	
				</div>
				<div class="form-group" style="text-align: right">	                          
                	<button type="submit" class="btn btn-primary btn-lg" scroll-to-bookmark><i class="glyphicon glyphicon-save"></i>{{'global.form.resetpassword' | translate}}</button>
           		</div>
            </form>
        </div>
    </div>
</body>
</html>