<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
</head>
<div class="modal-header modal-header-background">
	<h4 translate>global.form.resetpassword</h4>
</div>
<div class="modal-body">
	<div class="alert alert-success" ng-if="success">
         <strong>{{'global.messages.info.resetpasswordlink' | translate }}<em> {{request.email}}</em>.</strong> 
    </div>
    <div class="alert alert-danger" ng-if="error">
         <strong>{{'global.messages.error.resetpasswordlink' | translate }} {{request.email}}</strong> {{'global.messages.error.tryagain' | translate }}
    </div>
	<p translate>global.messages.info.requestpasswordresetlink</p> 
	<form name="forgotPasswordForm" ng-submit="sendResetLink(forgotPasswordForm.$valid)" form-autofill-fix novalidate>
		<div class="form-group" show-errors>
			<label>E-mail</label>
          	<input type="email" name="email" ng-model="user.email" class="form-control" auto-focus required>
          	<p ng-if="forgotPasswordForm.email.$error.email || forgotPasswordForm.email.$error.required" class="help-block" translate>global.messages.error.validemail</p>		          	     	
		</div>
		<button type="submit" class="btn btn-success" style="width:100%" translate>global.form.sendresetpasswordlink</button>
	</form>
</div>
</html>