<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <h4 translate>global.form.resetpassword</h4>
            <hr>
            <div class="alert alert-success" ng-show="success">
                <span translate>global.messages.info.passwordreset</span>
            </div>
            <div class="alert alert-danger" ng-show="error">
                <strong>{{'global.messages.error.processingrequest'}}</strong> {{'global.messages.error.passwordreset' | translate }} 
            </div>
            <div class="alert alert-danger" ng-show="doNotMatch" translate>
              global.messages.error.dontmatch
            </div>
            <form name="resetPasswordForm" role="form" ng-submit="resetPassword(resetPasswordForm.$valid)" form-autofill-fix novalidate>              
               	<div class="form-group" show-errors>
					<label translate>global.form.newpassword</label>
		          	<input type="password" name="password" ng-model="newPassword.password" class="form-control" placeholder="{{'global.form.newpassword.placeholder' | translate}}" ng-maxlength=50 ng-minlength=6 required>
		          	<p ng-if="resetPasswordForm.password.$error.required" class="help-block">global.messages.validate.password.required</p>
		          	<p ng-if="resetPasswordForm.password.$error.minlength" class="help-block">global.messages.validate.password.minlength</p>
		          	<p ng-if="resetPasswordForm.password.$error.maxlength" class="help-block">global.messages.validate.password.maxlength</p>		          	     	
				</div>
				<div class="form-group">
					<label translate>global.form.confirmpassword</label>
		          	<input type="password" name="repeatPassword" ng-model="newPassword.repeat" class="form-control">		          	     	
				</div>                          
                <button type="submit" class="btn btn-success btn-lg pull-right" translate>global.form.resetpassword</button>
            </form>
        </div>
    </div>
</body>
</html>