<!-- <html> -->
<!-- <head> -->
<!-- <meta charset="utf-8"> -->
<!-- </head> -->
<div class="prosLandingPage">
	<div class="container">
		<div class="section-title">
			<h2 translate>salespage.headline</h2>	
	  		<h4 translate>salespage.subheadline</h4>
		</div>
	</div>
	<div class="container valueProposition">
		<div class="row">
	    	<div class="col-sm-5 clearfix">	
	    		<p class="quote" translate>salespage.moneyshot.testimonial</p>
				<p class="client pull-right">
					<strong>Marko Kosmički</strong>
					<br>
					<span translate>salespage.topclient</span>
				</p>	
				<img class="pull-right" src="img/promoneyshot.png" width="100%" height="650px" style="margin-top: 20px"/>
			</div>	
			<div class="col-sm-6">	
				  <h4><strong translate>salespage.secondheadline</strong></h4>		
				  <p class="paragraph" translate>salespage.introduction</p>
				  <ul class="list-unstyled">			       
			        <li translate>salespage.valueproposition2</li>
			        <li translate>salespage.valueproposition3</li>
			        <li translate>salespage.valueproposition4</li>
			      </ul>
			      <div class="signupArea text-center">
			      	<h4 translate>salespage.calltoactionheader</h4>
					<p class="paragraph" translate>salespage.calltoactionexplanation</p>					
					<button ng-click="openProfessionalSignupModal()" class="btn btn-danger btn-lg signupButton" translate>salespage.calltoaction</button>
					<p style="margin-top: 10px" translate>salespage.calltoactionfollowthrough</p>
					<p class="paragraph">
						<span translate>salespage.orcallus</span>
						<i class='fa fa-phone'></i> 
						<span class="text-danger"><strong>091/777-0987</strong></span>
					</p>							
				  </div>	
				  <div class="text-center">
				  	<h5 class="text-uppercase"><strong translate>salespage.happycustomers</strong></h5>
		          	<img class="center-block" src="img/salespage/clients.png" height="auto" width="100%" style="max-width:350px"></img>
				  </div>
			</div>						
		</div>
	</div>
	<div class= container>
		<hr class="pro-divider">
		<div class="section-title">
			<h2 translate>salespage.testimonialsheadline</h2>
		</div>
		<section class="row breath">
			<div class="col-sm-4">
				<div class="thumbnail"> 
					<img class="img img-circle" src="img/salespage/customer1.png" width="150px" height="150px"></img>
					<div class="caption">				
						<img class="img" src="img/salespage/clientlogo1.png" width="100px"></img>
						<p class="quote" translate>salespage.testimonial1</p>
						<p class="client" translate>
							salespage.client1					
						</p>	
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="thumbnail"> 
					<img class="img img-circle" src="img/salespage/customer2.png" width="150px" height="150px"></img>
					<div class="caption">			
						<img class="img" src="img/salespage/clientlogo2.png" width="100px" height="30px"></img>	
						<p class="quote" translate>salespage.testimonial2</p>
						<p class="client" translate>
							salespage.client2					
						</p>				
					</div>
				</div>
			</div>	
			<div class="col-sm-4">
				<div class="thumbnail"> 
					<img class="img img-circle" src="img/salespage/customer3.png" width="150px" height="150px"></img>
					<div class="caption">				
						<img class="img" src="img/salespage/clientlogo3.png" width="100px" height="30px"></img>
						<p class="quote" translate>salespage.testimonial3</p>
						<p class="client" translate>
							salespage.client3					
						</p>				
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="bg-danger">
		<div class="container text-white">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 text-center">				
					<h2 class="text-white" translate>salespage.reinforcement.headline</h2>
					<h4 class="text-white" translate>salespage.reinforcement.subheadline</h4>							 
				</div>
			</div>
			<section class="row features">
				<div class="col-sm-3 col-sm-offset-1 text-center">
					<h5 class="text-uppercase text-white"><strong translate>salespage.reinforcement.benefit1</strong></h5>
					<i class="fa fa-briefcase fa-4x" style="margin-right:10px"></i>
					<i class="fa fa-thumbs-up fa-4x"></i>
					<p translate>salespage.reinforcement.detail1</p>
				</div>
				<div class="col-sm-1 text-center"> 
					<i class="fa fa-plus fa-4x" style="margin-top:50px"></i>													
				</div>
				<div class="col-sm-3 text-center">				
					<h5 class="text-uppercase text-white"><strong translate>salespage.reinforcement.benefit2</strong></h5>
					<span>
					  <i class="fa fa-bullhorn fa-4x" style="margin-right:10px"></i>
					  <i class="fa fa-users fa-4x"></i>
					</span>
					<p translate>salespage.reinforcement.detail2</p>
				</div>	
				<div class="col-sm-1 text-center">
					<div> 
						<i class="fa fa-bars fa-4x" style="margin-top:50px"></i>								
					</div>
				</div>
				<div class="col-sm-3 text-center">			
					<h5 class="text-uppercase text-white"><strong translate>salespage.reinforcement.benefit3</strong></h5>
					<span>
					  <i class="fa fa-phone fa-3x" style="margin-right:10px"></i>
					  <i class="fa fa-envelope fa-3x" style="margin-right:10px"></i>
					  <i class="fa fa-rocket fa-3x" style="margin-right:10px"></i>
					  <i class="fa fa-euro fa-4x"></i>
					</span>
					<p translate>salespage.reinforcement.detail3</p>					
				</div>					
			</section>
		</div>
	</div>
	<div class="container profeatures">
		 <div class="row">
	        <div class="col-md-7">
	          <h3 translate>salespage.benefit1</h3>
	          <p class="paragraph">{{'salespage.feature1.opinion' | translate}}
	          	<a tooltip="{{'salespage.feature1.impression' | translate}}"> 50ms </a> 
	          	{{'salespage.feature1.decide' | translate }}
	          	{{'salespage.feature1.trust' | translate }}
	          </p>       
	 		  <p class="paragraph">
	 		  	{{'salespage.feature1.yourprofile' | translate}}
 		  		<a tooltip="{{'salespage.feature1.resize' | translate}}">{{'salespage.feature1.looksgood' | translate}}</a> {{'salespage.feature1.mobile' | translate }}
	 		  </p>
	 		   <div class="text-center">
	 		  	<h4 translate>salespage.feature1.objection</h4>
	 		  </div>			  
	 		  <p class="paragraph text-danger"><strong translate>salespage.feature1.followup</strong></p>
	        </div>
	        <div class="col-md-5 text-center">
	          <img class="img img-responsive" src="img/salespage/makeover.png"></img>
	        </div>
	     </div>
	     <div class="row">
	        <div class="col-md-5">
	           <img class="img img-responsive" src="img/salespage/convertingpage.png"></img>
	        </div>
	        <div class="col-md-7">
	 			<h3 translate>salespage.benefit2</h3>
	         	<p class="paragraph" translate>salespage.feature2.goal</p>       
	 		  	<p class="paragraph" translate>salespage.feature2.action</p>
	 		  	<div class="text-center">
	 		  		<h4><strong>{{'salespage.feature2.results' | translate}} <a tooltip="{{'salespage.feature2.conversionoptimization' | translate}}" translate>salespage.feature2.conversion</a></strong></h4>	 		 
	 		  	</div>	 		  	
 		  	 	<p class="paragraph" translate>salespage.feature2.explanation</p>
	        </div>
	     </div>
	     <div class="row">
	        <div class="col-md-7">
	          <h3 translate>salespage.benefit3</h3>
	          <p class="paragraph">{{'salespage.feature3.searchusage' | translate }}	          
	          </p>       
	 		  <p class="paragraph">
	 		  	  <a tooltip="{{'salespage.feature3.seo' | translate}}"> SEO </a> <span translate>salespage.feature3.seohelps</span>
	 		  </p>
	 		  <p class="paragraph" translate>salespage.feature3.service</p>
	        </div>
	        <div class="col-md-5 text-center">
	          <img class="img img-responsive" src="img/salespage/organicresults.png" ></img>
	        </div>
	     </div>
	     <div class="row">
	        <div class="col-md-5">
	           <img class="img img-responsive" src="img/salespage/searchscreen.png"></img>
	        </div>
	        <div class="col-md-7">
	 			<h3 translate>salespage.benefit4</h3>
	         	<p class="paragraph" translate>salespage.feature4.p1</p>
		 		<p class="paragraph" translate>salespage.feature4.p2</p>      
		 		<p class="paragraph" translate>salespage.feature4.p3</p>
	        </div>
	     </div>
	     <div class="row">
	        <div class="col-md-7">
	          <h3 translate>salespage.benefit5</h3>
	          <p class="paragraph" translate>salespage.feature5.p1</p>
		 	  <p class="paragraph" translate>salespage.feature5.p2</p>     
	        </div>
	        <div class="col-md-5 text-center">
	          <img class="img img-responsive" src="img/salespage/projects.png"></img>
	        </div>
	     </div>
<!-- 	     <div class="row"> -->
<!-- 	     	<div class="col-md-5 text-center"> -->
<!-- 	          <img class="center-block " src="img/salespage/copywriting.png" height="400px" width="80%"></img> -->
<!-- 	          <h4 translate>salespage.feature6.caption</h4> -->
<!-- 	          <p class="paragraph" translate>salespage.feature6.detailedcaption</p> -->
<!-- 	        </div> -->
<!-- 	        <div class="col-md-7"> -->
<!-- 	          <h3 translate>salespage.benefit6</h3> -->
<!-- 	          <p class="paragraph" translate>salespage.feature6.p1</p> -->
<!-- 		 	  <p class="paragraph" translate>salespage.feature6.p2</p>       -->
<!-- 		 	  <p class="paragraph" translate>salespage.feature6.p3</p> -->
<!-- 		 	  <h4 translate>salespage.feature6.objection</h4> -->
<!-- 		 	  <p class="paragraph" translate>salespage.feature6.handling</p> -->
<!-- 	        </div>         -->
<!-- 	     </div> -->
	</div>
	<div class="superfeature text-white">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<div class="section-title">
						<h3 class="text-white"><strong translate>salespage.alerts.headline</strong></h3>
						<p class="paragraph" translate>salespage.alerts.details</p>	 
					</div>
				</div>
			</div>
			<section class="row features">
				<div class="col-sm-2 col-sm-offset-2 text-center">
					<i class="fa fa-pencil-square-o fa-4x"></i>
					<div class="caption">
						<h5 class="text-white" translate>salespage.alerts.user</h5>
					</div>
				</div>
				<div class="col-sm-1">
					<div> 
						<i class="fa fa-long-arrow-right fa-4x"></i>								
					</div>
				</div>
				<div class="col-sm-2 text-center">				
					<i class="fa fa-filter fa-4x"></i>
					<div class="caption">
						<h5 class="text-white" translate>salespage.alerts.filter</h5>									
					</div>
				</div>	
				<div class="col-sm-1">
					<div> 
						<i class="fa fa-long-arrow-right fa-4x"></i>								
					</div>
				</div>
				<div class="col-sm-2 text-center">			
					<i class="fa fa-bullhorn fa-4x"></i>
					<div class="caption">
						<h5 class="text-white" translate>salespage.alerts.alert</h5>						
					</div>					
				</div>					
			</section>
<!-- 			<div class="text-center"> -->
<!--            		<img class="center-block " src="img/salespage/getbids.png" height="350px" width="100%" style="max-width:500px"></img> -->
<!--         	</div>   -->
		</div>
	</div>
	<div class="highlight">
      <div class="container text-center">
	   	<h3 class="text-danger" translate>salespage.calltoactionheader</h3>
		<p class="paragraph" translate>salespage.calltoactionexplanation</p>
		<button ng-click="openProfessionalSignupModal()" class="btn btn-danger btn-lg signupButton" translate>salespage.calltoaction</button>
		<p style="margin-top: 10px" translate>salespage.calltoactionfollowthrough</p>
		<p class="paragraph">
			<span translate>salespage.orcallus</span>
			<i class='fa fa-phone'></i> 
			<span class="text-danger"><strong>091/777-0987</strong></span>
		</p>
	  </div>
    </div>
	<div class="container">
		<div class="section-title">
			<h2 translate>salespage.testimonialsvalueheadline</h2>
			<h4 translate>salespage.testimonialsvaluesubheadline</h4>
		</div>
	</div>
	<div class="container profeatures">
   	     <div class="row">
	        <div class="col-md-7">
	          <h3 translate>salespage.benefit7</h3>
	 		  <p class="paragraph" translate>salespage.feature7.p1</p>
	 		  <p class="paragraph" translate>salespage.feature7.p2</p>
	 		  <p class="paragraph" translate>salespage.feature7.p3</p>
	        </div>
	        <div class="col-md-5 text-center">
	          <img class="img img-responsive" src="img/salespage/testimonials.png"></img>
	        </div>
	     </div>
	     <div class="row">
	     	 <div class="col-md-5 text-center">
	          <img class="img img-responsive" src="img/salespage/endorsements.png"></img>
	        </div>
	        <div class="col-md-7">
	          <h3 translate>salespage.benefit9</h3>
	          <p class="paragraph" translate>salespage.feature9.p1</p>
		 	  <p class="paragraph" translate>salespage.feature9.p2</p>     
	        </div>
	     </div>
   	     <div class="row">
	        <div class="col-md-7">
	 			<h3 translate>salespage.benefit10</h3>
	         	<p class="paragraph" translate>salespage.feature10.p1</p>
		 		<p class="paragraph" translate>salespage.feature10.p2</p>      
		 		<p class="paragraph" translate>salespage.feature10.p3</p>
<!-- 		 		<p class="paragraph" translate>salespage.feature10.p4</p> -->
	        </div>
	        <div class="col-md-5">
	           <img class="img img-responsive" src="img/salespage/facebook.png"></img>
	        </div>
	     </div>
	</div>
	<div class="container">
	   	<div class="section-title">
			<h2 translate>salespage.testimonialsheadline2</h2>
		</div>
  		<section class="row breath">
			<div class="col-sm-4">
				<div class="thumbnail"> 
					<h4 class="text-center" translate>salespage.testimonial4.headline</h4>
					<img class="img img-circle" src="img/salespage/customer4.png" width="150px" height="150px"></img>				
					<div class="caption">				
						<img class="img" src="img/salespage/clientlogo4.png" width="50px" height="50px"></img>
						<p class="quote" translate>salespage.testimonial4</p>
						<p class="client" translate>
							salespage.client4					
						</p>		
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="thumbnail"> 
					<h4 class="text-center" translate>salespage.testimonial5.headline</h4>
					<img class="img img-circle" src="img/salespage/customer5.png" width="150px" height="150px"></img>				
					<div class="caption">			
						<img class="img" src="img/salespage/clientlogo5.png" width="100px" height="50px"></img>	
						<p class="quote" translate>salespage.testimonial5</p>
						<p class="client" translate>
							salespage.client5					
						</p>												
					</div>
				</div>
			</div>	
			<div class="col-sm-4">
				<div class="thumbnail">
					<h4 class="text-center" translate>salespage.testimonial6.headline</h4> 
					<img class="img img-circle" src="img/salespage/customer6.png" width="150px" height="150px"></img>					
					<div class="caption">				
						<img class="img" src="img/salespage/clientlogo6.png" width="100px" height="50px"></img>
						<p class="quote" translate>salespage.testimonial6</p>
						<p class="client" translate>
							salespage.client6					
						</p>					
					</div>
				</div>
			</div>
		</section>
	</div>
 	<div class="highlight">
      <div class="container text-center">
	   	<h3 class="text-danger" translate>salespage.calltoactionheader</h3>
		<p class="paragraph" translate>salespage.calltoactionexplanation</p>
		<button ng-click="openProfessionalSignupModal()" class="btn btn-danger btn-lg signupButton" translate>salespage.calltoaction</button>
		<p style="margin-top: 10px" translate>salespage.calltoactionfollowthrough</p>
		<p class="paragraph">
			<span translate>salespage.orcallus</span>
			<i class='fa fa-phone'></i> 
			<span class="text-danger"><strong>091/777-0987</strong></span>
		</p>
	  </div>
   </div>
	<div class="container profeatures">
		<div class="section-title">
			<h2 translate>salespage.ourhelpheadline</h2>
			<h4 translate>salespage.ourhelpsubheadline</h4>
		</div>
		 <div class="row">
	        <div class="col-md-7">
	          <h3 translate>salespage.benefit11</h3>			  
	          <p class="paragraph" translate>salespage.feature11.p1</p>
	        </div>
	        <div class="col-md-5 text-center">
	          <img class="img img-responsive center-block" src="img/salespage/cloud.png"></img>
	        </div>
	     </div>
	     <div class="row">
	        <div class="col-md-5">
	           <img class="img img-responsive" src="img/salespage/research.png"></img>
	        </div>
	        <div class="col-md-7">
	 			<h3 translate>salespage.benefit12</h3>
	         	<p class="paragraph" translate>salespage.feature12.p1</p>       
	 		  	<p class="paragraph" translate>salespage.feature12.p2</p>
	        </div>
	     </div>
	     <div class="row">
	        <div class="col-md-7">
	          <h3 translate>salespage.benefit13</h3>     
	 		  <p class="paragraph" translate>salespage.feature13.p1</p>
	 		  <p class="paragraph" translate>salespage.feature13.p2</p>	 		 
	        </div>
	        <div class="col-md-5 text-center">
	          <img class="img img-responsive" src="img/salespage/team.png"></img>
	        </div>
	     </div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div class="section-title">
					<h2 translate>salespage.valuebuildupheadline</h2>
					<h4 class="text-uppercase" translate>salespage.valuebuildupsubheadline</h4>
				</div>
				<div class="row">
			        <div class="col-sm-6 col-sm-offset-3">
				        <div class="panel panel-success text-center">
					        <div class="panel-heading">
					          	<h3 class="text-uppercase text-white"><strong translate>salespage.pricing.professional</strong></h3>			          
					         	<p translate>salespage.pricing.target</p>
					        </div>
					         <div class="pricing panel-body">
					          	<h2><strong class="text-success" translate>salespage.pricing.monthlyprice</strong><span class="priceCents text-success" translate>salespage.pricing.cents</span><span class="pricingPeriod" translate>salespage.pricing.month</span></h2>				          
					          </div>				         
				           	  <ul class="list-unstyled list-group">			       						        
								<li class="list-group-item"> <i class="fa fa-laptop text-success"></i>  <strong translate> salespage.pricing.profile</strong></li>
								<li class="list-group-item"> <i class="fa fa-briefcase text-success"></i>  <strong translate> salespage.pricing.data</strong></li>
								<li class="list-group-item"> <i class="fa fa-users text-success"></i>  <strong translate> salespage.pricing.seo</strong></li>
								<li class="list-group-item"> <i class="fa fa-map-marker text-success"></i>  <strong translate> salespage.pricing.search</strong></li> 
								<li class="list-group-item"> <i class="fa fa-gift text-success"></i>  <strong translate> salespage.pricing.copy</strong></li>
								<li class="list-group-item"> <i class="fa fa-wrench text-success"></i>  <strong translate> salespage.pricing.work</strong></li>
								<li class="list-group-item"> <i class="fa fa-comments text-success"></i>  <strong translate> salespage.pricing.testimonials</strong></li>
								<li class="list-group-item"> <i class="fa fa-thumbs-up text-success"></i>  <strong translate> salespage.pricing.endorsements</strong></li>
								<li class="list-group-item"> <i class="fa fa-facebook text-success"></i>  <strong translate> salespage.pricing.facebook</strong></li>
								<li class="list-group-item"> <i class="fa fa-bell text-success"></i>  <strong translate> salespage.pricing.alerts</strong></li>
								<li class="list-group-item"> <i class="fa fa-support text-success"></i>  <strong translate> salespage.pricing.support</strong></li>
								<li class="list-group-item">
									<button ng-click="openProfessionalSignupModal()" class="btn btn-danger btn-lg signupButton" translate>salespage.calltoaction</button>
									<p style="margin-top: 10px" translate>salespage.calltoactionfollowthrough</p>
								</li>     		       
						      </ul>
				    	</div>				    	
		    	 	</div>
	   			</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="section-title">
			<h3><strong translate>salespage.faq.heading</strong></h3>
		</div>		
		<section class="row faq breath">
			<div class="col-md-6">
				<h6><strong translate>salespage.faq.freetrial</strong></h6>
				<p translate>salespage.faq.freetrial.answer</p>
				<h6><strong translate>salespage.faq.payment</strong></h6>
				<p translate>salespage.faq.payment.answer</p>
			</div>			
			<div class="col-md-6">
				<h6><strong translate>salespage.faq.commitment</strong></h6>
				<p translate>salespage.faq.commitment.answer</p>
				<h6><strong translate>salespage.faq.reliability</strong></h6>
				<p translate>salespage.faq.reliability.answer</p>
			</div>
		</section> 
	</div>
	<div class="container">
		<div class="section-title">
			<h3><strong translate>salespage.trust</strong></h3>
		</div>		
		<section>
			<img class="center-block img-responsive" src="img/salespage/clients.png"></img>
		</section> 
	</div>
	<div class="container">
		<h3 class="text-danger"><strong translate>salespage.urgency.heading</strong></h3>		
		<p class="paragraph" translate>salespage.urgency.detail</p>	
		<p class="paragraph" translate>salespage.urgency.comparison</p>	
		<p class="paragraph" translate>salespage.urgency.promise</p>	
	</div>
	<div class="container">
		<h3 class="text-danger"><strong translate>salespage.disclaimer</strong></h3>			
	</div>
</div>